<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="display: none;">
  <symbol id="myIcon" viewBox="0 0 24 24">
    <path fill="#ffb700" d="M6.5 20q-2.3 0-3.9-1.6T1 14.5q0-1.95 1.213-3.437T5.25 9.15q.625-2.25 2.475-3.7T12 4q2.975 0 4.988 2.063T19 11q1.875.2 2.938 1.55T23 15.475q0 1.875-1.312 3.2T18.5 20zm0-2h12q1.05 0 1.775-.725T21 15.5t-.725-1.775T18.5 13H17v-2q0-2.075-1.463-3.538T12 6q-1.575 0-2.8.863T7.4 9.075q1.95.325 3.275 1.838T12 14.5h-2q0-1.45-1.025-2.475T6.5 11t-2.475 1.025T3 14.5t1.025 2.475T6.5 18"/>
  </symbol>
</svg>

<svg width="24" height="24" style="display: none;">
  <use href="#myIcon"/>
</svg>

<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="display: none;">
  <symbol id="icon1" viewBox="0 0 24 24">
    <path fill="#ffb700" d="M5 22q-2.075 0-3.537-1.463T0 17t1.463-3.537T5 12t3.538 1.463T10 17t-1.463 3.538T5 22m0-2q1.25 0 2.125-.875T8 17t-.875-2.125T5 14t-2.125.875T2 17t.875 2.125T5 20m6-1v-5l-3.2-2.8q-.3-.275-.45-.637T7.2 9.8t.163-.762T7.8 8.4l2.8-2.8q.3-.3.688-.45T12.1 5t.813.15t.687.45l1.9 1.9q.7.7 1.6 1.1T19 9v2q-1.425 0-2.713-.55T14 8.9l-.8-.8l-2.4 2.4l2.2 2.3V19zm4.5-13.5q-.825 0-1.412-.587T13.5 3.5t.588-1.412T15.5 1.5t1.413.588T17.5 3.5t-.587 1.413T15.5 5.5M19 22q-2.075 0-3.537-1.463T14 17t1.463-3.537T19 12t3.538 1.463T24 17t-1.463 3.538T19 22m0-2q1.25 0 2.125-.875T22 17t-.875-2.125T19 14t-2.125.875T16 17t.875 2.125T19 20"/>
  </symbol>
</svg>

<svg width="24" height="24" style="display: none;">
  <use href="#icon1"/>
</svg>



<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="white-star" viewBox="0 0 24 24">
    <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2" fill="white" />
  </symbol>
</svg>

<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
  <symbol id="aaa" viewBox="0 0 24 24">
    <path fill="#ffb700" d="M19 19H8q-.825 0-1.412-.587T6 17V3q0-.825.588-1.412T8 1h6.175q.4 0 .763.15t.637.425l4.85 4.85q.275.275.425.638t.15.762V17q0 .825-.587 1.413T19 19m0-11l-5-5v3.5q0 .625.438 1.063T15.5 8zM4 23q-.825 0-1.412-.587T2 21V8q0-.425.288-.712T3 7t.713.288T4 8v13h10q.425 0 .713.288T15 22t-.288.713T14 23z"/>
  </symbol>
</svg>

<svg width="48" height="48" style="display: none">
  <use href="#aaa"/>
</svg>

<svg xmlns="http://www.w3.org/2000/svg" style="display:none;">
  <symbol id="icon-chevron" viewBox="0 0 24 24">
    <path fill="#000" d="m12 16.175l3.9-3.875q.275-.275.688-.288t.712.288q.275.275.275.7t-.275.7l-4.6 4.6q-.15.15-.325.213t-.375.062t-.375-.062t-.325-.213l-4.6-4.6q-.275-.275-.288-.687T6.7 12.3q.275-.275.7-.275t.7.275zm0-6L15.9 6.3q.275-.275.688-.287t.712.287q.275.275.275.7t-.275.7l-4.6 4.6q-.15.15-.325.213t-.375.062t-.375-.062t-.325-.213L6.7 7.7q-.275-.275-.288-.687T6.7 6.3q.275-.275.7-.275t.7.275z" />
  </symbol>
</svg>

<svg style="display:none;">
    <symbol id="icon-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path fill="#ffb700" d="m12.2 13l-.9.9q-.275.275-.275.7t.275.7t.7.275t.7-.275l2.6-2.6q.3-.3.3-.7t-.3-.7l-2.6-2.6q-.275-.275-.7-.275t-.7.275t-.275.7t.275.7l.9.9H9q-.425 0-.712.288T8 12t.288.713T9 13zm-.2 9q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22m0-2q3.35 0 5.675-2.325T20 12t-2.325-5.675T12 4T6.325 6.325T4 12t2.325 5.675T12 20m0-8" />
    </symbol>
</svg>

<svg width="24" height="24">
    <use href="#icon-arrow"></use>
</svg>

svg.xmlns(style="display: none;", xmlns="http://www.w3.org/2000/svg")
    symbol#icon-example(viewBox="0 0 24 24")
      path(fill="#ffb700" d="M5 22q-2.075 0-3.537-1.463T0 17t1.463-3.537T5 12t3.538 1.463T10 17t-1.463 3.538T5 22m0-2q1.25 0 2.125-.875T8 17t-.875-2.125T5 14t-2.125.875T2 17t.875 2.125T5 20m6-1v-5l-3.2-2.8q-.3-.275-.45-.637T7.2 9.8t.163-.762T7.8 8.4l2.8-2.8q.3-.3.688-.45T12.1 5t.813.15t.687.45l1.9 1.9q.7.7 1.6 1.1T19 9v2q-1.425 0-2.713-.55T14 8.9l-.8-.8l-2.4 2.4l2.2 2.3V19zm4.5-13.5q-.825 0-1.412-.587T13.5 3.5t.588-1.412T15.5 1.5t1.413.588T17.5 3.5t-.587 1.413T15.5 5.5M19 22q-2.075 0-3.537-1.463T14 17t1.463-3.537T19 12t3.538 1.463T24 17t-1.463 3.538T19 22m0-2q1.25 0 2.125-.875T22 17t-.875-2.125T19 14t-2.125.875T16 17t.875 2.125T19 20")

svg(width="60" height="60")
  use(xlink:href="#icon-example")

svg(style="display:none")
  defs
    symbol(id="icon-id" viewBox="0 0 24 24")
      path(fill="#0099ff" d="M4.05 21H3v-5.875L8 14.1l2.9 2.9q1-.575 1.863-1.237t1.587-1.388q.775-.75 1.45-1.625t1.225-1.85l-2.85-2.875L15.1 3H21v1.05q0 3.15-1.35 6.2T15.8 15.8t-5.562 3.85T4.05 21")
